@model InsuranceAgency__.Models.Treaty

@{
    ViewData["Title"] = "Details";
}

<h1>Детальный просмотр договора</h1>

<div>
    <h4>Договор</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeTreaty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeTreaty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfInsuranceTreaty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeOfInsuranceTreaty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolicySeries)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolicySeries)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolicyNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolicyNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsurancePremium)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsurancePremium)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsuranceSum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsuranceSum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfPaymentTreaty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfPaymentTreaty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TreatyCurrency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TreatyCurrency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StateOfTreaty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StateOfTreaty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdClient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdClient)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a href="\Home\Index">Вернуться назад</a>
</div>
