@model InsuranceAgency__.Models.PaymentDocument

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PaymentDocument</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BeneficiaryBankName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BeneficiaryBankName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvoicingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvoicingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameOfService)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameOfService)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FIOPolicyholder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FIOPolicyholder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentMethod)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a href="\Home\Index">Вернуться назад</a>
</div>
