@model IEnumerable<InsuranceAgency__.Models.PaymentDocument>

@{
    ViewData["Title"] = "Index";
}
<head>
    <style>
        .row {
            margin-left: 0.1%;
        }

        main {
            width: 98%;
            margin: 0 auto;
        }

        table {
            border: solid 5px #B0C4DE;
        }

        th {
            border: solid 5px #B0C4DE;
        }

        td {
            border: solid 5px #B0C4DE;
        }

        body {
            background-color: white;
        }

        table {
            margin: 0 auto;
        }

        th {
            padding: 19px;
        }
    </style>
</head>
<h1>Отправка платёжных данных</h1>

<table class="table">
    <form id="formSearch7" method="post">
        <div class="row" id="SearchBox">
            <p>
                <input type="text" id="AccountNumber" name="AccountNumber" placeholder="Поиск по номеру счёта" />
                <input type="submit" id="submitsearch" value="Поиск" />
            </p>
        </div>
    </form>
    <thead>
        <tr>
            <th>Номер аккаунта  </th>
            <th>Название банка получателя</th>
            <th>Дата выставления счета</th>
            <th>Сервисная стоимость</th>
            <th>Номер полиса</th>
            <th>Страховая премия</th>
            <th>Страховая сумма</th>
            <th>Дата заключения договора</th>
            <th>Валюта</th>
            <th>Состояние договора</th>
            <th>Номер клиента</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BeneficiaryBankName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InvoicingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameOfService)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FIOPolicyholder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentMethod)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
